Samples/Get D365 Msgs from O365 Comms API.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Run_Each_Hour":{"recurrence":{"frequency":"Hour","interval":1},"type":"Recurrence"}},"actions":{"Get_Auth_Token":{"runAfter":{"Client_Secret":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/@{variables('Tenant')}/oauth2/token?api-version=1.0","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"resource=https%3A%2F%2Fmanage.office.com&grant_type=client_credentials&client_id=@{variables('client_id')}&client_secret=@{variables('client_secret')}"}},"Tenant":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tenant","type":"String"}]},"description":"e.g. tenant.onmicrosoft.com"},"Client_Id":{"runAfter":{"Tenant":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"client_id","type":"String"}]},"description":"client identifier from Azure AD trusted application"},"Client_Secret":{"runAfter":{"Client_Id":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"client_secret","type":"String"}]},"description":"IMPORTANT: The secret must be URL encoded!"},"Parse_Get_Auth_Token_Body_for_Auth_Token":{"runAfter":{"Get_Auth_Token":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Auth_Token')","schema":{"properties":{"access_token":{"type":"string"},"expires_in":{"type":"string"},"expires_on":{"type":"string"},"ext_expires_in":{"type":"string"},"not_before":{"type":"string"},"resource":{"type":"string"},"token_type":{"type":"string"}},"type":"object"}}},"GET_ServiceComms_CurrentStatus":{"runAfter":{"Parse_Get_Auth_Token_Body_for_Auth_Token":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://manage.office.com/api/v1.0/@{variables('Tenant')}/ServiceComms/CurrentStatus","headers":{"Authorization":"Bearer @{body('Parse_Get_Auth_Token_Body_for_Auth_Token')?['access_token']}"}}},"Parse_GET_ServiceComms_CurrentStatus":{"runAfter":{"GET_ServiceComms_CurrentStatus":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('GET_ServiceComms_CurrentStatus')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"FeatureStatus":{"type":"array","items":{"type":"object","properties":{"FeatureDisplayName":{"type":"string"},"FeatureName":{"type":"string"},"FeatureServiceStatus":{"type":"string"},"FeatureServiceStatusDisplayName":{"type":"string"}},"required":["FeatureDisplayName","FeatureName","FeatureServiceStatus","FeatureServiceStatusDisplayName"]}},"Id":{"type":"string"},"IncidentIds":{"type":"array"},"Status":{"type":"string"},"StatusDisplayName":{"type":"string"},"StatusTime":{"type":"string"},"Workload":{"type":"string"},"WorkloadDisplayName":{"type":"string"}},"required":["FeatureStatus","Id","IncidentIds","Status","StatusDisplayName","StatusTime","Workload","WorkloadDisplayName"]}}}}}},"Apply_to_each":{"foreach":"@variables('Value')","actions":{"Parse_FeatureStatus_in_Value_Envelope":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each')","schema":{"type":"object","properties":{"FeatureStatus":{"type":"array","items":{"type":"object","properties":{"FeatureDisplayName":{"type":"string"},"FeatureName":{"type":"string"},"FeatureServiceStatus":{"type":"string"},"FeatureServiceStatusDisplayName":{"type":"string"}},"required":["FeatureDisplayName","FeatureName","FeatureServiceStatus","FeatureServiceStatusDisplayName"]}},"Id":{"type":"string"},"IncidentIds":{"type":"array"},"Status":{"type":"string"},"StatusDisplayName":{"type":"string"},"StatusTime":{"type":"string"},"Workload":{"type":"string"},"WorkloadDisplayName":{"type":"string"}}}}},"Condition":{"actions":{},"runAfter":{"Parse_FeatureStatus_in_Value_Envelope":["Succeeded"]},"expression":"@equals(body('Parse_FeatureStatus_in_Value_Envelope')?['WorkloadDisplayName'], 'Dynamics 365')","type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Parse_GET_ServiceComms_Messages":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Value","type":"Array","value":"@body('Parse_GET_ServiceComms_CurrentStatus')?['value']"}]}},"Get_ServiceComms_Messages":{"runAfter":{"Parse_GET_ServiceComms_CurrentStatus":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://manage.office.com/api/v1.0/@{variables('Tenant')}/ServiceComms/Messages?$filter=StartTime%20ge%20@{formatDateTime(addDays(utcNow(), -30))}","headers":{"Authorization":"Bearer @{body('Parse_Get_Auth_Token_Body_for_Auth_Token')?['access_token']}"}}},"Parse_GET_ServiceComms_Messages":{"runAfter":{"Get_ServiceComms_Messages":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_ServiceComms_Messages')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"AffectedWorkloadDisplayNames":{"type":"array"},"AffectedWorkloadNames":{"type":"array"},"Status":{"type":"string"},"Workload":{},"WorkloadDisplayName":{},"ActionType":{"type":["string","null"]},"AffectedTenantCount":{"type":"integer"},"AffectedUserCount":{},"Classification":{"type":"string"},"EndTime":{"type":["string","null"]},"Feature":{},"FeatureDisplayName":{},"UserFunctionalImpact":{},"Id":{"type":"string"},"ImpactDescription":{},"LastUpdatedTime":{"type":"string"},"MessageType":{"type":"string"},"Messages":{"type":"array","items":{"type":"object","properties":{"MessageText":{"type":"string"},"PublishedTime":{"type":"string"}},"required":["MessageText","PublishedTime"]}},"PostIncidentDocumentUrl":{},"Severity":{"type":"string"},"StartTime":{"type":"string"},"Title":{"type":"string"},"ActionRequiredByDate":{},"AnnouncementId":{"type":"integer"},"Category":{"type":"string"},"MessageTagNames":{"type":"array"},"ExternalLink":{"type":"string"},"IsDismissed":{"type":"boolean"},"IsRead":{"type":"boolean"},"IsMajorChange":{"type":"boolean"},"PreviewDuration":{},"AppliesTo":{},"MilestoneDate":{"type":"string"},"Milestone":{"type":"string"},"BlogLink":{"type":"string"},"HelpLink":{"type":"string"},"FlightName":{},"FeatureName":{}},"required":["AffectedWorkloadDisplayNames","AffectedWorkloadNames","Status","Workload","WorkloadDisplayName","ActionType","AffectedTenantCount","AffectedUserCount","Classification","EndTime","Feature","FeatureDisplayName","UserFunctionalImpact","Id","ImpactDescription","LastUpdatedTime","MessageType","Messages","PostIncidentDocumentUrl","Severity","StartTime","Title"]}}}}}},"Loop_through_Messages_Response":{"foreach":"@variables('MessagesResponseNotParsed')","actions":{"Parse_Messages":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Loop_through_Messages_Response')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"AffectedWorkloadDisplayNames":{"type":"array","items":{"type":"string"}},"AffectedWorkloadNames":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Workload":{},"WorkloadDisplayName":{},"ActionType":{"type":["string","null"]},"AffectedTenantCount":{"type":"integer"},"AffectedUserCount":{},"Classification":{"type":"string"},"EndTime":{"type":["string","null"]},"Feature":{},"FeatureDisplayName":{},"UserFunctionalImpact":{},"Id":{"type":"string"},"ImpactDescription":{},"LastUpdatedTime":{"type":"string"},"MessageType":{"type":"string"},"Messages":{"type":"array","items":{"type":"object","properties":{"MessageText":{"type":"string"},"PublishedTime":{"type":"string"}},"required":["MessageText","PublishedTime"]}},"PostIncidentDocumentUrl":{},"Severity":{"type":"string"},"StartTime":{"type":"string"},"Title":{"type":"string"},"ActionRequiredByDate":{},"AnnouncementId":{"type":"integer"},"Category":{"type":"string"},"MessageTagNames":{"type":"array"},"ExternalLink":{"type":"string"},"IsDismissed":{"type":"boolean"},"IsRead":{"type":"boolean"},"IsMajorChange":{"type":"boolean"},"PreviewDuration":{},"AppliesTo":{},"MilestoneDate":{"type":"string"},"Milestone":{"type":"string"},"BlogLink":{"type":"string"},"HelpLink":{"type":"string"},"FlightName":{},"FeatureName":{}}}}},"Check_AffectedWorkloadName_contains_'DynamicsCRM'":{"actions":{"Apply_to_each_2":{"foreach":"@body('Parse_Messages')?['Messages']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"DateTimeString","value":"@items('Apply_to_each_2')?['MessageText']"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Parse_Messages":["Succeeded"]},"expression":{"contains":["@body('Parse_Messages')?['AffectedWorkloadNames']","DynamicsCRM"]},"type":"If"}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"Foreach"},"Initialize_variable_2":{"runAfter":{"Init_String_for_DateTime_string_in_messages":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MessagesResponseNotParsed","type":"Array","value":"@body('Parse_GET_ServiceComms_Messages')?['value']"}]}},"Init_String_for_DateTime_string_in_messages":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DateTimeString","type":"String"}]}}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":366},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}}}]}